{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "cursorOffset": -1,
    "endOfLine": "lf",
    "printWidth": 120,
    "trailingComma": "none",
    "useTabs": false
}
